<form class="form" name="form-subscribe-andradedev" id="form-subscribe-andradedev" data-request="{{ __SELF__ }}::onAddSubscriber" data-request-update="'{{__SELF__}}::alert': '#result'">
    <div class="form__contacts">
      <label class="form__label">ваши контактные данные</label>
      <div class="form__inputs">
        <input
          name="name"
          type="text"
          class="form__input"
          placeholder="Ваше имя"
        />
        <input
          name="phone"
          type="tel"
          class="form__input"
          placeholder="Ваш телефон"
        />
        <input type="email"
            class="form__input"
            name="email"
            placeholder="Ваше email (не обязательно)"
            required
        />
      </div>
    </div>
    <div class="form__conditions">
      <label class="form__label">какая недвижимость вам требуется?</label>
      <div class="form__inputs">
        <input
          name="floor"
          type="text"
          class="form__input"
          placeholder="Этаж (не обязательно)"
        />
        <input
          name="square"
          type="text"
          class="form__input"
          placeholder="Площадь (не обязательно)"
        />
        <div class="form__radio">
          <div>
            <label class="form__radio-label">
              <input
                checked
                type="radio"
                name="action"
                value="0"
                class="form__radio-input"
              />
              <img />
              Жилая
            </label>
          </div>
          <div>
            <label class="form__radio-label">
              <input
                type="radio"
                name="action"
                value="1"
                class="form__radio-input"
              />
              <img />
              Коммерческая
            </label>
          </div>
        </div>
        <input
          name="comment"
          type="text"
          class="form__input"
          placeholder="Комментарий (не обязательно)"
        />
      </div>
      <button class="button button_orange form__button" form="form-subscribe-andradedev">
        оставить заявку
      </button>
    </div>
  </form>

<div id="result"></div>